<h1><%= @photographer.first_name%> <%= @photographer.last_name %></h1>
<%= form_for @photographer do |f| %>
<div class="form-group">
  <label for="yrs_experience">Years of experience</label>
  <%= f.text_field :yrs_experience %>
</div>

  <div class="form-group">
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </div>

  <div class="form-group">
    <%= f.label :wttravel, class: 'checkbox' do %>
      <%= f.check_box :wttravel %> Willing to travel?
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio, rows: 8, class: 'form-control', placeholder: "Enter personal bio" %>
  </div>

  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website, class: 'form-control', placeholder: "Enter personal website url" %></br>
  </div>

  <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>
